nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;

}

/* color for brand */
nav .navbar-brand .black
{
    color: black;
}

/* color for navbar links */
nav .nav-link .maroon
{
    color: maroon;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

.button
{
    /* style for buttons */
    background-color: maroon;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button2
{
    /* style for smaller grey buttons */
    border: maroon;
    border-radius: 4px;
}

a
{
    /* style for links */
    color: maroon;
}

a:visited
{
    /* style for visited links */
    color: maroon;
}

th
{
    /* style for table headers */
    background-color: maroon;
    color: white;
}

right
{
    /* position for my teams */
    position:fixed;
    right: 350px;
}

left
{
    /* position for picture on my teams page */
    position:fixed;
    left: 200px;
}
main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* position for captain's name above schedule */
captain
{
    position:relative;
    left:90px;
}

/* position for links above schedule */
links
{
    position:relative;
    right:80px;
}