{% extends "layout.html" %}

{% block title %}
    Add Game
{% endblock %}

{% block main %}
        <form action="/add_game" method="post">
            <div class="form-group">
                <input autofocus class="form-control" name="date" type="date"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="time" placeholder="Time" type="time"/>
            </div>
            <div class="form-group">
                <select class="form-control" name="opponent">
                    <option disabled selected value>Opponent</option>
                        <option value="Benjamin Franklin">Benjamin Franklin</option>
                        <option value="Berkeley">Berkeley</option>
                        <option value="Branford">Branford</option>
                        <option value="Ezra Stiles">Ezra Stiles</option>
                        <option value="Grace Hopper">Grace Hopper</option>
                        <option value="Jonathan Edwards">Jonathan Edwards</option>
                        <option value="Morse">Morse</option>
                        <option value="Pauli Murray">Pauli Murray</option>
                        <option value="Pierson">Pierson</option>
                        <option value="Saybrook">Saybrook</option>
                        <option value="Silliman">Silliman</option>
                        <option value="Timothy Dwight">Timothy Dwight</option>
                        <option value="Trumbull">Trumbull</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" name="location" placeholder="Location" type="text"/>
            </div>
        <button class="button" type="submit">Add Game</button>
    </form>
{% endblock %}