{% extends "layout.html" %}

{% block title %}
    Join Team
{% endblock %}

{% block main %}
    <form action="/join_team" method="post">
        <select class="form-control" name="sport">
            <option disabled selected value>Sport</option>
                {% for sport in sports %}
                    <option value="{{ sport.sport }}">{{ sport.sport }}</option>
                {% endfor %}
        </select><br><br>
        <button class="button" type="submit">Join Team</button>
    </form>
{% endblock %}
