<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <title>Davenport IMs: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="black">Davenport IMs</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="https://davenport.yalecollege.yale.edu/sites/default/files/images/Davenport%20shield.jpg" alt="Davenport Crest" width="50" height="60">
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        {% if session.bool_captain == 1 %}
                            <li class="nav-item"><a class="nav-link" href="/create_team"><span class="maroon">Create Team</span></a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="/join_team"><span class="maroon">Join Team</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/my_schedule"><span class="maroon">My Schedule</span></a></li>
                    {% endif %}
                    </ul>
                    <img src="http://laoblogger.com/images/clipart-garden-location-7.jpg" alt="gnome" width="80" height="70"> Go Gnomes!
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout"><span class="maroon">Log Out</span></a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register"><span class="maroon">Register</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/login"><span class="maroon">Log In</span></a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>