{% extends "layout.html" %}

{% block title %}
    My Schedule
{% endblock %}

{% block main %}
    <hx><font size=8>My Schedule</font></hx>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Opponent</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Players</th>
                    <th>Leave Game</th>
                </tr>
            </thead>
            {% for i in range(games | length) %}
                <tr>
                    <td>{{ games[i]["sport"] }}</td>
                    <td>{{ games[i]["date"] }}</td>
                    <td>{{ games[i]["time"] }}</td>
                    <td>{{ games[i]["opponent"] }}</td>
                    <td>{{ games[i]["location"] }}</td>
                    <td>{{ games[i]["status"] }}</td>
                    <td><form action="/players" method="post">
                        <button class="button2" type="submit" name="players" value="{{ games[i]['game_id'] }}">Players</button>
                    </form></td>
                    <td><form action="/leave_game" method="post"><button class="button2" type="submit" name="leave_game" value="{{ games[i]['game_id'] }}">Leave Game</button></form></td>
                </tr>
            {% endfor %}
        </table>
        <img src="http://www.how-to-draw-funny-cartoons.com/images/cartoon-soccer-6.jpg" alt="soccer" width="75" height="75"/>
        <img src="http://sweetclipart.com/multisite/sweetclipart/files/basketball_clipart_1.png" alt="basketball" width="75" height="75"/>
        <img src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-football-5.gif" alt="football" width="90" height="70"/>
        <img src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-volleyball-7.gif" alt="volleyball" width="75" height="75"/>
        <img src="http://clipartix.com/wp-content/uploads/2016/10/Bouncing-tennis-ball-clipart-free-images-2.gif" alt="tennis" width="75" height="75"/>


{% endblock %}