{% extends "layout.html" %}

{% block title %}
    My Teams
{% endblock %}

{% block main %}
    <right><hx><font size=8>My Teams</font></hx><br><br>
    <form action="/" method="post">
        {% for i in range(teams | length) %}
            <ul><button class="button2" type="submit" name="sport" value="{{ teams[i]['sport'] }}">{{ teams[i]["sport"] }}</button></ul>
        {% endfor %}
    </form></right>
    <left><img src="https://davenport.yalecollege.yale.edu/sites/default/files/styles/adaptive/public/4554welcomegnome1_small.jpg?itok=NjTUT9Nv" alt="Davenport Welcome" width="500" height="400"></left>
{% endblock %}