{% extends "layout.html" %}

{% block title %}
    Players: {{ sport }} {{ date }}
{% endblock %}

{% block main %}
<font size=6>{{ sport }}: {{ date }}</font><br>
<table class="table table-striped"
    <thead>
        <tr>
            <th>Players</th>
            {% if session.bool_captain == 1 %}
                <th>Email</th>
                <th>Remove Player</th>
            {% endif %}
        </tr>
    </thead>
    {% for i in range(players | length) %}
        <tr>
            <td>{{ players[i]["name"] }}</td>
            {% if session.bool_captain == 1 %}
                <td>{{ players[i]["email"] }}</td>
                <td><form action="/remove_player" method="post">
                    <button class="button2" type="submit" name="remove_player" value="{{ players[i]['user_id'] }}">Remove Player</button>
                </form></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}