{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            I am a:<br>
            <input name="bool_captain" type="radio" value="0"> Player <br>
            <input name="bool_captain" type="radio" value="1"> Captain
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name (First and Last)" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="net_id" placeholder="Yale Net Id" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="email" placeholder="Email" type="email"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password"/>
        </div>
        <button class="button" type="submit">Register</button>
    </form>
{% endblock %}
