{% extends "layout.html" %}

{% block title %}
    Schedule: {{ sport }}
{% endblock %}

{% block main %}

    <links><a href="/team_players">Players</a>
    {% if session.bool_captain == 1 %}
        <a href="/add_game">&nbsp; Add game</a>
    {% endif %}</links>
    <hx><font size=8>Schedule: {{ sport }}</font></hx>
    <captain>Captain: {{ captain }}</captain>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Opponent</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Players</th>
                    {% if session.bool_captain == 0 %}
                        <th>Join Game</th>
                    {% else %}
                        <th>Change Status</th>
                        <th>Delete Game</th>
                    {% endif %}
                </tr>
            </thead>
            {% for i in range(games | length) %}
                <tr>
                    <td>{{ games[i]["date"] }}</td>
                    <td>{{ games[i]["time"] }}</td>
                    <td>{{ games[i]["opponent"] }}</td>
                    <td>{{ games[i]["location"] }}</td>
                    <td>{{ games[i]["status"] }}</td>
                    <td><form action="/players" method="post">
                        <button class="button2" type="submit" name="players" value="{{ games[i]['game_id'] }}">Players</button>
                    </form></td>
                    {% if session.bool_captain == 0 %}
                        {% if joined[i] == 0 %}
                            <td><form action="/join_game" method="post"><button class="button2" type="submit" name="join_game" value="{{ games[i]['game_id'] }}">Join Game</button></form></td>
                        {% else %}
                            <td>Joined</td>
                        {% endif %}
                    {% else %}
                        <td><form action="/change_status" method="post">
                            <div class="form-group"><select name="new_status"><option disabled selected value>Status</option>
                                <option value="On">On</option>
                                <option value="We forfeited">We forfeited</option>
                                <option value="They forfeited">They forfeited</option>
                                <option value="Rained out">Rained out</option>
                                <option value="Cancelled">Cancelled</option>
                            </select></div>
                            <div class="form-group">
                                <button class="button2" type="submit" name="change_status" value="{{ games[i]['game_id'] }}">Change Status</button>
                            </div></form></td>
                            <td><form action="delete_game" method="post">
                                <button class="button2" type=submit name="delete_game" value="{{ games[i]['game_id'] }}">Delete Game</button>
                            </form></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% if session.bool_captain == 0 %}
            <form action="/leave_team" method="post">
                <button class="button" type="submit" onclick="return confirm('Are you sure you want to leave this team?');">Leave Team</button>
            </form>
        {% else %}
            <form action="/dissolve_team" method="post">
                <button class="button" type="submit" onclick="return confirm('Are you sure you want to dissolve this team? This action cannot be undone.');">Dissolve Team</button>
            </form>
        {% endif %}
{% endblock %}